body {

	background: red;
}
main {

	background-color: #c9c9c9;
	height:800px;
	width: 600px;
	margin: 15px;
	padding: 15px;

}

a {
    text-decoration: none;
    color: floralwhite;
    text-align: right;
}

#myfooter{
    background-color:darkslategray;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
}

#reserve{
    color:white;
    text-align: center;
}

a:hover{
    color: darkorange;
    
}